# PlatformIO Files

.pioenvs
.clang_complete
.gcc-flags.json
.travis.yml
platformio.ini
lib/readme.txt

# Segment Display Lib
src/disp_io.h
src/disp_io.cpp
src/disp_utils.h
src/segment.cpp
src/segment.h
src/seg_disp.h

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
